---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import ChooseUs from "../components/ChooseUs.astro";
---
<BaseLayout>
    <Banner title="About Us" page="About us" image="about_cover.webp"/>
    <!--===== ABOUT AREA STARTS =======-->
    <div class="about4-section-area sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="space100 d-lg-block d-none"></div>
                    <div class="space20 d-lg-block d-none"></div>
                    <div class="img1 image-anime">
                        <img src="/assets/img/about-images/about1.webp" alt="Job holders">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="space20 d-lg-none d-block"></div>
                    <div class="img1 image-anime">
                        <img src="/assets/img/about-images/about2.webp" alt="Job holders">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-header heading4">
                        <h5 data-aos="fade-left" data-aos-duration="800"><img src="/assets/img/icons/sub-logo1.svg"
                                                                              alt="">About Place Waves Consultancy</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">Empowering Careers in Healthcare</h2>
                        <div class="space20"></div>
                        <p data-aos="fade-left" data-aos-duration="1000">At Place Waves, we’re dedicated to bridging the
                            gap between talented job seekers and top healthcare opportunities. Through expert training,
                            personalized career support, and hands-on experience, we empower individuals to build
                            successful careers in the healthcare industry. Let us help you take the next step toward a
                            brighter future.</p>
                        <div class="space32"></div>
                        <ul class="about_highlights" data-aos="fade-left" data-aos-duration="1100">
                            <li><img src="/assets/img/icons/check1.svg" alt="">Hands-on training to build in-demand
                                healthcare skills.
                            </li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Tailored career guidance and placement
                                support.
                            </li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Strong partnerships with leading
                                healthcare providers.
                            </li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Proven success in helping candidates
                                secure rewarding jobs.
                            </li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Comprehensive support from training to
                                placement.
                            </li>
                        </ul>
                        <div class="space32"></div>
                        <div class="btn-area" data-aos="fade-left" data-aos-duration="1200">
                            <a href="/contact" class="header-btn2-h4">Contact Us <span><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                        <div class="succes-rate-area" data-aos="zoom-in" data-aos-duration="1000">
                            <div class="successful">
                                <h3><span class="counter">100</span>%</h3>
                                <div class="space16"></div>
                                <p>Success Rate</p>
                            </div>
                            <div class="space20"></div>
                            <div class="client">
                                <h3><span class="counter">1000</span>+</h3>
                                <div class="space16"></div>
                                <p>Satisfied Client</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== ABOUT AREA ENDS =======-->
    <!--===== OTHERS AREA STARTS =======-->
    <div class="value-section-area bg1 sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="value-header text-center heading2 space-margin60">
                        <h5><img src="/assets/img/icons/sub-logo1.svg" alt="">Our Value</h5>
                        <div class="space16"></div>
                        <h2>The Driving Force Behind Your Career Growth and Success</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="value-details-box">
                        <div class="img1">
                            <img src="/assets/img/about-images/about3.webp" alt="Job Goers">
                        </div>
                        <div class="content-area heading1">
                            <h5>Our Core Values</h5>
                            <div class="space16"></div>
                            <h3>Shaping Your Path to Success in Healthcare and Beyond</h3>
                            <div class="space16"></div>
                            <p>At Place Waves, our values empower job seekers with the skills and support they need to
                                thrive. We are committed to helping you build a successful and fulfilling career in
                                healthcare and beyond.</p>
                            <div class="space16"></div>
                            <div class="btn-area1">
                                <a href="/contact" class="header-btn1">Learn More <i
                                        class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="value-boxs-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="value-box">
                                    <div class="arrow">
                                        <a href="#" class="nolink"><i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                    <h5>Our Mission</h5>
                                    <div class="space16"></div>
                                    <a href="#" class="nolink">Empowering Careers, Transforming Healthcare.</a>
                                    <div class="space16"></div>
                                    <p>Place Waves is dedicated to connecting job seekers with top healthcare
                                        opportunities through expert training and personalized support, helping
                                        individuals build successful careers while meeting industry needs.</p>
                                </div>
                                <div class="space30"></div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="value-box2">
                                    <div class="arrow">
                                        <a href="#" class="nolink"><i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                    <h5>Our Vision</h5>
                                    <div class="space16"></div>
                                    <a href="#" class="nolink">Strengthening the Healthcare Workforce.</a>
                                    <div class="space16"></div>
                                    <p>Place Waves envisions a future where skilled professionals thrive in healthcare,
                                        equipped with the training and support needed to drive better care and outcomes.
                                        We aim to bridge the gap between talent and opportunity.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== OTHERS AREA ENDS =======-->
    <!--===== OTHERS AREA STARTS =======-->
    <div class="history-section-area sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="history-header heading2 text-center space-margin60">
                        <h5><img src="/assets/img/icons/sub-logo1.svg" alt="">Place Waves's History</h5>
                        <div class="space16"></div>
                        <h2>A Journey of Innovation:<br>Place Waves's Story Year by Year</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="history-details-boxarea">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes">
                                    <span>2021</span>
                                    <div class="space16"></div>
                                    <a href="#" class="nolink">Founding Year</a>
                                    <div class="space16"></div>
                                    <p>Founded in 2021, Place Waves connects skilled professionals to healthcare
                                        opportunities. We are dedicated to empowering job seekers with the training and
                                        support needed for success.</p>
                                    <div class="space16"></div>

                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes">
                                    <span>2022</span>
                                    <div class="space16"></div>
                                    <a href="#" class="nolink">Expansion and Growth</a>
                                    <div class="space16"></div>
                                    <p>In 2022, Place Waves experienced significant expansion and growth, broadening our
                                        reach within the healthcare industry. We strengthened our services, enhancing
                                        support for job seekers and employers alike.</p>
                                    <div class="space16"></div>

                                </div>
                            </div>


                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes" style="padding: 0; border: none;">
                                    <span>2023</span>
                                    <div class="space16"></div>
                                    <a href="#" class="nolink">Significant Milestone</a>
                                    <div class="space16"></div>
                                    <p>In 2023, Place Waves reached a significant milestone, further solidifying our
                                        position as a trusted healthcare job consultancy. We continued to expand our
                                        impact, helping more professionals find rewarding careers in healthcare.</p>
                                    <div class="space16"></div>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes" style="padding: 0; border: none;">
                                    <span>2024</span>
                                    <div class="space16"></div>
                                    <a href="#" class="nolink">Present and Future</a>
                                    <div class="space16"></div>
                                    <p>In 2024, Place Waves continues to drive innovation and growth, shaping the future
                                        of healthcare careers. We remain committed to empowering job seekers and meeting
                                        the evolving needs of the healthcare industry.</p>
                                    <div class="space16"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img1 image-anime">
                        <img src="/assets/img/about-images/about4.webp" alt="journey image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== OTHERS AREA ENDS =======-->
    <ChooseUs/>
</BaseLayout>


<style lang="scss">
  @use '../scss/utils' as * ;

  h2 {
    text-wrap: balance;
  }

  .about_highlights {
    max-width: 430px;

    @media #{$xl} {
      max-width: 320px;
    }

    li {
      display: flex;
      align-items: flex-start;
    }
  }
</style>
