---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import ChooseUs from "../components/ChooseUs.astro";
---
<BaseLayout>
    <Banner title="About Us" page="About us"/>
    <!--===== ABOUT AREA STARTS =======-->
    <div class="about1-section-area sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-header heading2">
                        <h5 data-aos="fade-left" data-aos-duration="800"><img src="/assets/img/icons/sub-logo1.svg" alt="">About Us</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">Trusted  Rebuilders Construction Partner</h2>
                        <div class="space70 d-lg-block d-none"></div>
                        <div class="space30 d-lg-none d-block"></div>
                        <div class="images-area text-center">
                            <div class="img1 reveal image-anime">
                                <img src="/assets/img/all-images/about/about-img1.png" alt="">
                            </div>
                            <div class="text">
                                <p>Engineer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sucess-text">
                        <div class="images-area2">
                            <div class="img2 reveal image-anime">
                                <img src="/assets/img/all-images/about/about-img2.png" alt="">
                            </div>
                            <div class="text">
                                <p>Engineer</p>
                            </div>
                        </div>
                        <div class="counter-text">
                            <h2 class="text-anime-style-3"><span class="counter">100</span>%</h2>
                            <div class="space16"></div>
                            <p>Success Rate</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="peragraph heading2">
                        <p data-aos="fade-left" data-aos-duration="1000">Welcome to Rebuilders Construction Company, where quality craftsmanship and unwavering integrity are the foundations of  business. With over 12 years of experience in the construction industry, we have been dedicated to transforming vision.</p>
                        <div class="space24"></div>
                        <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                            <a href="/contact" class="header-btn1">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <div class="space80 d-lg-block d-none"></div>
                        <div class="space30 d-lg-none d-block"></div>
                        <div class="images-area text-center">
                            <div class="img1 reveal image-anime">
                                <img src="/assets/img/all-images/about/about-img3.png" alt="">
                            </div>
                            <div class="text">
                                <p>Best Workers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== ABOUT AREA ENDS =======-->
    <!--===== OTHERS AREA STARTS =======-->
    <div class="value-section-area bg1 sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="value-header text-center heading2 space-margin60">
                        <h5><img src="/assets/img/icons/sub-logo1.svg" alt="">Our Value</h5>
                        <div class="space16"></div>
                        <h2>The Values That Shape Our Approach to Rebuilding Lives & Strengthening Communities</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="value-details-box">
                        <div class="img1">
                            <img src="/assets/img/all-images/others/value-img1.png" alt="">
                        </div>
                        <div class="content-area heading1">
                            <h5>Our Value</h5>
                            <div class="space16"></div>
                            <h3>We approach each individual with <br class="d-lg-block d-none"> compassion and understanding,</h3>
                            <div class="space16"></div>
                            <p> We are committed to honesty, transparency, and ethical practices in all our interactions and services. We believe in empowering individuals with the tools and resources.</p>
                            <div class="space16"></div>
                            <div class="btn-area1">
                                <a href="/contact" class="header-btn1">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="value-boxs-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="value-box">
                                    <div class="arrow">
                                        <a href="#" class="nolink"><i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                    <h5>Our Mission</h5>
                                    <div class="space16"></div>
                                    <a href="#" class="nolink">Our mission is to provide comprehensive support and resources to those in need.</a>
                                    <div class="space16"></div>
                                    <p>Helping them overcome challenges and achieve their full potential. We are dedicated  empowering individuals through education advocacy & direct.</p>
                                </div>
                                <div class="space30"></div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="value-box2">
                                    <div class="arrow">
                                        <a href="#" class="nolink"><i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                    <h5>Our Mission</h5>
                                    <div class="space16"></div>
                                    <a href="#" class="nolink">Our mission is to provide comprehensive support and resources to those in need.</a>
                                    <div class="space16"></div>
                                    <p>Helping them overcome challenges and achieve their full potential. We are dedicated  empowering individuals through education advocacy & direct.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== OTHERS AREA ENDS =======-->
    <!--===== OTHERS AREA STARTS =======-->
    <div class="history-section-area sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="history-header heading2 text-center space-margin60">
                        <h5><img src="assets/img/icons/sub-logo1.svg" alt="">Rebuilders History</h5>
                        <div class="space16"></div>
                        <h2>A Journey of Innovation: The Rebuilders Story Year by Year</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="history-details-boxarea">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes">
                                    <span>2019</span>
                                    <div class="space16"></div>
                                    <a href="service1.html">Founding Year</a>
                                    <div class="space16"></div>
                                    <p>Briefly explain the inspiration behind starting the company, its initial goals, and any challenges faced.</p>
                                    <div class="space16"></div>
                                    <a href="service1.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes">
                                    <span>2020</span>
                                    <div class="space16"></div>
                                    <a href="service1.html">Expansion and Growth</a>
                                    <div class="space16"></div>
                                    <p>Discuss how the company began to grow, any new markets it entered, or significant hires made.</p>
                                    <div class="space16"></div>
                                    <a href="service1.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes">
                                    <span>2021</span>
                                    <div class="space16"></div>
                                    <a href="service1.html">Significant Milestone</a>
                                    <div class="space16"></div>
                                    <p>Provide context on why this milestone was important and how it impacted the company's trajectory.</p>
                                    <div class="space16"></div>
                                    <a href="service1.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes">
                                    <span>2022</span>
                                    <div class="space16"></div>
                                    <a href="service1.html">Innovation & Development</a>
                                    <div class="space16"></div>
                                    <p>Highlight the innovation, how it set the company apart, and its impact on customers or the industry.</p>
                                    <div class="space16"></div>
                                    <a href="service1.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes" style="padding: 0; border: none;">
                                    <span>2023</span>
                                    <div class="space16"></div>
                                    <a href="service1.html">Community & Culture</a>
                                    <div class="space16"></div>
                                    <p>Discuss efforts to build company culture, community involvement, or social responsibility initiatives.</p>
                                    <div class="space16"></div>
                                    <a href="service1.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="history-boxes" style="padding: 0; border: none;">
                                    <span>2024</span>
                                    <div class="space16"></div>
                                    <a href="service1.html">Present and Future</a>
                                    <div class="space16"></div>
                                    <p>Conclude with the current state of the company and a forward-looking statement about where it's headed.</p>
                                    <div class="space16"></div>
                                    <a href="service1.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img1 image-anime reveal">
                        <img src="assets/img/all-images/others/history-img1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== OTHERS AREA ENDS =======-->
    <ChooseUs />
</BaseLayout>