---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import Contact from "../components/Contact.astro";
import {testimonials} from '../utils/data.js'
import HeroTestimonial from "../components/HeroTestimonial.astro";
import ChooseUs from "../components/ChooseUs.astro";
---

<BaseLayout>
    <Banner title="Consultancy" page="Consultancy" image="consultancy.webp"/>
    <!--===== ABOUT AREA STARTS =======-->
    <div class="about5-section-area sp1">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-3 col-md-6">
                    <div class="img1 image-anime">
                        <img src="/assets/img/testimonials-img/testimonials3.webp" alt="">
                    </div>
                    <div class="space30 d-md-none d-block"></div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="space20 d-lg-none d-block"></div>
                    <div class="img1 image-anime">
                        <img src="/assets/img/testimonials-img/testimonials1.webp" alt="">
                    </div>
                    <div class="space30"></div>
                    <div class="img1 image-anime">
                        <img src="/assets/img/testimonials-img/testimonials2.webp" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-header heading4">
                        <h5 data-aos="fade-left" data-aos-duration="800"><img src="/assets/img/icons/sub-logo1.svg"
                                                                              alt="">Consultancy</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">Your Trusted Partner in Building Successful Careers</h2>
                        <div class="space20"></div>
                        <p data-aos="fade-left" data-aos-duration="1000">At Place Waves, we connect job seekers with top
                            healthcare opportunities. Our expert training and personalized support empower individuals
                            to thrive. Build a successful career with our trusted guidance.</p>
                        <ul data-aos="fade-left" data-aos-duration="1100">
                            <li><img src="/assets/img/icons/check1.svg" alt="">Personalized Career Guidance: Tailored
                                support to match your skills with the right opportunities.
                            </li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Expert Training Programs: Hands-on
                                training to prepare you for healthcare roles.
                            </li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Strong Industry Connections: Partnerships
                                with leading healthcare providers.
                            </li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Comprehensive Placement Support:
                                End-to-end assistance from training to job placement.
                            </li>
                        </ul>
                        <div class="space32"></div>
                        <div class="btn-area" data-aos="fade-left" data-aos-duration="1200">
                            <a href="/about" class="header-btn1">About More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== ABOUT AREA ENDS =======-->
    <!--===== WORKS AREA STARTS =======-->
    <div class="choose3-section-area sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="choose-header heading2 space-margin60">
                        <h5><img src="/assets/img/icons/sub-logo1.svg" alt="">What we do.</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">Building Successful Careers in Healthcare</h2>
                    </div>
                    <div class="images-area">
                        <div class="img1 image-anime">
                            <img src="/assets/img/all-images/choose/choose-img5.png" alt="">
                        </div>
                        <div class="img2 text-end image-anime">
                            <img src="/assets/img/all-images/choose/choose-img4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-pera-area heading2">
                        <p data-aos="fade-left" data-aos-duration="700">At Place Waves, we specialize in connecting job
                            seekers with rewarding healthcare careers. Through tailored training programs and
                            personalized guidance, we equip individuals with the skills needed for success. Our strong
                            industry relationships enable us to match candidates with top healthcare providers. From
                            training to placement, we support every step of your career journey.</p>
                        <div class="space60"></div>
                        <div class="list-area" data-aos="fade-left" data-aos-duration="800">
                            <div class="icons">
                                <img src="/assets/img/icons/choose10.svg" alt="">
                            </div>
                            <div class="content">
                                <a href="#">Personalized Career Support</a>
                                <div class="space8"></div>
                                <p>We offer tailored guidance to help you find the right healthcare opportunities.</p>
                            </div>
                        </div>
                        <div class="space30"></div>
                        <div class="list-area" data-aos="fade-left" data-aos-duration="900">
                            <div class="icons">
                                <img src="/assets/img/icons/choose11.svg" alt="">
                            </div>
                            <div class="content">
                                <a href="#">Expert Training Programs</a>
                                <div class="space8"></div>
                                <p>Our hands-on training equips you with the skills needed for success in the healthcare
                                    industry.</p>
                            </div>
                        </div>
                        <div class="space30"></div>
                        <div class="list-area" data-aos="fade-left" data-aos-duration="1000">
                            <div class="icons">
                                <img src="/assets/img/icons/choose12.svg" alt="">
                            </div>
                            <div class="content">
                                <a href="#">Industry Connections</a>
                                <div class="space8"></div>
                                <p>We connect job seekers with leading healthcare employers, ensuring rewarding career
                                    placements.</p>
                            </div>
                        </div>
                        <div class="space32"></div>
                        <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                            <a href="/services" class="header-btn2-h3">View Our Services <span><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== WORKS AREA ENDS =======-->
    <ChooseUs rowReverse/>
    <!--===== TESTIMONIAL AREA STARTS =======-->
    <div class="testimonial2-section-area sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="testimonial-header text-center heading4 space-margin60">
                        <h5 data-aos="fade-left" data-aos-duration="800"><img src="/assets/img/icons/sub-logo1.svg"
                                                                              alt="">Testimonials</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">What Our Client Say’s About Place Waves </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-slider-area owl-carousel">

                        {testimonials.map(ele =>
                                <HeroTestimonial text={ele.text} cliName={ele.cliName}/>)}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== TESTIMONIAL AREA ENDS =======-->
    <Contact/>

</BaseLayout>


<style lang="scss">
  .heading4 {
    li {
      display: flex;
      align-items: start;
    }
  }
</style>