---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import ContactForm from "../components/Contact.astro";
import Question from "../components/Question.astro";

import { questions } from "../utils/data";
---

<BaseLayout>
    <Banner title="Contact Us" page="Contact Us" image="contact.webp"/>
    <ContactForm/>

    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=Place Waves+chaitanyapuri&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <!--===== FAQ AREA STARTS =======-->
    <div class="faq-inner-area sp8">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-5 m-auto">
                        <div class="heading2 text-center space-margin60">
                            <h5><img src="/assets/img/icons/sub-logo1.svg" alt="">FAQ</h5>
                            <div class="space16"></div>
                            <h2>Have Any Question</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 m-auto">
                    <div class="faq-widget-area">
                        <div class="accordion" id="accordionExample">
                            {questions.map(ele => <Question que={ele.que} ans={ele.ans} id={ele.id}/>)}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space32"></div>
    <!--===== FAQ AREA ENDS =======-->


</BaseLayout>
