---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import Testimonial from "../components/Testimonial.astro";

import {testimonials} from "../utils/data.js";
import Contact from "../components/Contact.astro";
---

<BaseLayout>
    <Banner title="Testimonials" page="Testimonials" image="testimonials.webp"/>
    <!--===== ABOUT AREA STARTS =======-->
    <div class="about5-section-area sp1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">
                    <div class="img1 image-anime">
                        <img src="/assets/img/testimonials-img/testimonials3.webp" alt="">
                    </div>
                    <div class="space30 d-md-none d-block"></div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="space20 d-lg-none d-block"></div>
                    <div class="img1 image-anime">
                        <img src="/assets/img/testimonials-img/testimonials1.webp" alt="">
                    </div>
                    <div class="space30"></div>
                    <div class="img1 image-anime">
                        <img src="/assets/img/testimonials-img/testimonials2.webp" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-header heading4">
                        <h5 data-aos="fade-left" data-aos-duration="800"><img src="/assets/img/icons/sub-logo1.svg"
                                                                              alt="">Testimonials</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">Voices of Success:<br>What They Say About Us</h2>
                        <div class="space20"></div>
                        <p data-aos="fade-left" data-aos-duration="1000">Hear from those who’ve experienced the
                            Place Waves difference! Our success is reflected in the journeys of job seekers and employers
                            we’ve supported. Discover how we’ve helped transform careers and optimize healthcare
                            practices.</p>
                        <ul data-aos="fade-left" data-aos-duration="1100">
                            <li><img src="/assets/img/icons/check1.svg" alt="">Transformed careers through tailored healthcare job training</li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Built confidence and skills with hands-on, practical programs.</li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Guided job seekers effortlessly through placements.</li>
                            <li><img src="/assets/img/icons/check1.svg" alt="">Opened doors to rewarding healthcare opportunities.</li>
                        </ul>
                        <div class="space32"></div>
                        <div class="btn-area" data-aos="fade-left" data-aos-duration="1200">
                            <a href="/about" class="header-btn1">About More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== ABOUT AREA ENDS =======-->
    <!--===== TESTIMONIAL AREA STARTS =======-->
    <div class="testimonial5-section-area sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="testimonial-header text-center heading2 space-margin60">
                        <h5><img src="/assets/img/icons/sub-logo1.svg" alt="">Testimonials</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">What Our Customer Say’s</h2>
                    </div>
                    <div class="space30"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testionial5-slider-area owl-carousel">
                        {testimonials.map(test =>
                                <Testimonial text={test.text} cliName={test.cliName}/>)}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== TESTIMONIAL AREA ENDS =======-->
    <Contact bgclr="white"/>
</BaseLayout>
