---
const {rowReverse = false} = Astro.props
---
<!--===== CHOOSE AREA STARTS =======-->
<div class="choose6-section-area sp1" style="background-color: #e9e9e9">
    <div class="container">
        <div class=`row align-items-center ${rowReverse && 'flex-row-reverse'}`>
            <div class="col-lg-6">
                <div class="choose-images">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="img1 image-anime">
                                <img src="/assets/img/about-images/about6.webp" alt="trust image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="space30 d-md-none d-block"></div>
                            <div class="img1 image-anime">
                                <img src="/assets/img/about-images/about5.webp" alt="trust image">
                            </div>
                        </div>
                        <div class="space30"></div>
                        <div class="img1 image-anime">
                            <img src="/assets/img/about-images/about7.webp" alt="trust image">
                        </div>
                    </div>
                    <div class="others-area">
                        <div class="widget-text">
                            <div class="icons">
                                <img src="/assets/img/icons/choose10.svg" alt="">
                            </div>
                            <p>Train</p>
                        </div>
                        <div class="widget-text">
                            <div class="icons">
                                <img src="/assets/img/icons/choose11.svg" alt="">
                            </div>
                            <p>Interview</p>
                        </div>
                        <div class="widget-text" style="border: none;">
                            <div class="icons">
                                <img src="/assets/img/icons/choose12.svg" alt="">
                            </div>
                            <p>Place</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-header heading4">
                    <h5 data-aos="fade-left" data-aos-duration="800"><img src="/assets/img/icons/sub-logo1.svg" alt="">
                        Why Choose us</h5>
                    <div class="space16"></div>
                    <h2 class="text-anime-style-3">Your Trusted Partner in Healthcare Careers</h2>
                    <div class="space20"></div>
                    <p data-aos="fade-left" data-aos-duration="900">At Place Waves, we offer personalized career support,
                        expert training, and strong industry connections to help you succeed in healthcare. Our
                        commitment to empowering job seekers and delivering quality services makes us the trusted choice
                        for career growth in the healthcare industry.</p>
                    <div class="space8"></div>
                    <div class="space24"></div>
                    <div class="list-area" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icons">
                            <img src="/assets/img/icons/check1.svg" alt="">
                        </div>
                        <div class="text">
                            <a href="#" class="nolink">Personalized Career Support</a>
                            <p>We provide tailored guidance to help you navigate your career journey, ensuring you find
                                the best-fit opportunities in healthcare.</p>
                        </div>
                    </div>
                    <div class="space24"></div>
                    <div class="list-area" data-aos="fade-left" data-aos-duration="1100">
                        <div class="icons">
                            <img src="/assets/img/icons/check1.svg" alt="">
                        </div>
                        <div class="text">
                            <a href="#" class="nolink">Expert Training Programs</a>
                            <p>Our hands-on training equips you with the essential skills and knowledge needed to thrive
                                in the healthcare industry.</p>
                        </div>
                    </div>
                    <div class="space24"></div>
                    <div class="list-area" data-aos="fade-left" data-aos-duration="1200">
                        <div class="icons">
                            <img src="/assets/img/icons/check1.svg" alt="">
                        </div>
                        <div class="text">
                            <a href="#" class="nolink">Strong Industry Connections</a>
                            <p>With our extensive network of healthcare employers, we connect job seekers to top-tier
                                opportunities for long-term success.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== CHOOSE AREA ENDS =======-->