---
const {bgclr} = Astro.props
---

{<div class="contact1-section-area sp1" style=`background-color: ${bgclr}`>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-header heading2">
                    <h5 data-aos="fade-left" data-aos-duration="800"><img src="/assets/img/icons/sub-logo1.svg" alt="">
                        Contact Us</h5>
                    <div class="space16"></div>
                    <h2 class="text-anime-style-3">Connect with ZenFusion for Your Career Journey</h2>
                    <div class="space32"></div>
                    <h3 data-aos="fade-left" data-aos-duration="900">Work Hour</h3>
                    <div class="space16"></div>
                    <ul data-aos="fade-left" data-aos-duration="1000">
                        <li><a href="#"><i class="fa-solid fa-clock"></i> Monday - Friday</a></li>
                        <li><a href="#"><i class="fa-solid fa-clock"></i> 10:00 Am - 06:00 Pm </a></li>
                    </ul>
                    <div class="contact-author-area">
                        <div class="author-box" data-aos="fade-left" data-aos-duration="1000">
                            <div class="icons">
                                <img src="/assets/img/icons/location1.svg" alt="">
                            </div>
                            <div class="text">
                                <h4>Our Location</h4>
                                <a href="#">Vasavi Towers, Sai Nagar, Chaitanyapuri, Hyderabad - 500060, Telangana</a>
                            </div>
                        </div>
                        <div class="author-box" data-aos="fade-left" data-aos-duration="1100">
                            <div class="icons">
                                <img src="/assets/img/icons/call1.svg" alt="">
                            </div>
                            <div class="text">
                                <h4>Office Number</h4>
                                <a href="tel:+916300754179">+91 6300754179</a>
                            </div>
                        </div>
                        <div class="author-box" data-aos="fade-left" data-aos-duration="1200">
                            <div class="icons">
                                <img src="/assets/img/icons/mail1.svg" alt="">
                            </div>
                            <div class="text">
                                <h4>Our Mail</h4>
                                <a href="mailto:info@zenfusion.in">info@zenfusion.in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="contact-boxarea">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-area">
                                <p>First Name*</p>
                                <div class="space16"></div>
                                <input type="text" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-area">
                                <p>Last Name*</p>
                                <div class="space16"></div>
                                <input type="text" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-area">
                                <p>Email Address*</p>
                                <div class="space16"></div>
                                <input type="email" placeholder="Email Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-area">
                                <p>Phone Number*</p>
                                <div class="space16"></div>
                                <input type="number" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-area">
                                <p>Message*</p>
                                <div class="space16"></div>
                                <textarea placeholder="Type your message..."></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-area">
                                <button type="submit" class="header-btn1">Send Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>