---
const {text, cliName} = Astro.props
---
<div class="testimonial-boxarea">
    <img src="/assets/img/icons/quito.svg" alt="" class="quoto">
    <div class="space32"></div>
    <p>"{text}"</p>
    <div class="space48"></div>
    <div class="name-area">
        <div class="name">
            <a href="#">{cliName}</a>
            <ul>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
            </ul>
        </div>
        <img src="/assets/img/icons/google.svg" alt="" class="google">
    </div>
</div>