---

---

<ul>
    <li>
        <a href="https://www.google.com/search?q=place+waves+consultancy&sca_esv=31fe99a6d4a2597d&source=hp&ei=hz5kZ-KlFvDo1e8P6tu3yQ4&iflsig=AL9hbdgAAAAAZ2RMl9Q8MZarEqNf_5esEHD_vxb_5pu9&ved=0ahUKEwiihfTYlbSKAxVwdPUHHertLekQ4dUDCBA&uact=5&oq=place+waves+consultancy&gs_lp=Egdnd3Mtd2l6IhdwbGFjZSB3YXZlcyBjb25zdWx0YW5jeTIHECEYoAEYCjIHECEYoAEYCjIHECEYoAEYCjIFECEYnwUyBRAhGJ8FMgUQIRifBTIFECEYnwUyBRAhGJ8FMgUQIRifBTIFECEYnwVImzlQ8gVYqDVwAXgAkAEAmAGOAqAByiGqAQYwLjE2Lje4AQPIAQD4AQGYAhigAvshqAIKwgIKEAAYAxjqAhiPAcICFBAuGIAEGJECGMcBGIoFGI4FGK8BwgILEAAYgAQYkQIYigXCAgsQLhiABBixAxiDAcICDhAuGIAEGLEDGIMBGIoFwgILEAAYgAQYsQMYgwHCAg4QABiABBixAxiDARiKBcICCBAAGIAEGLEDwgIREC4YgAQYkQIYxwEYigUYrwHCAhMQLhiABBhDGMcBGIoFGI4FGK8BwgIKEAAYgAQYQxiKBcICERAAGIAEGJECGLEDGIMBGIoFwgINEAAYgAQYQxjJAxiKBcICBRAAGIAEwgIIEAAYgAQYyQPCAgcQABiABBgKwgIHEC4YgAQYCsICBRAuGIAEwgIGEAAYFhgewgIKEAAYgAQYsQMYDcICBxAAGIAEGA3CAgoQLhiABBixAxgNwgINEAAYgAQYsQMYgwEYDcICCRAAGIAEGAoYDcICBhAAGA0YHsICCBAAGAUYDRgewgIIEAAYCBgNGB7CAgsQABiABBiGAxiKBcICCBAAGIAEGKIEwgIFEAAY7wWYAwTxBRnQODLaLNlZkgcGMS4xNi43oAeKzwE&sclient=gws-wiz" target="_blank"><i
                class="fa-brands fa-google"></i></a></li>
    <li><a href="https://wa.me/916300754179" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
    <li><a href="https://www.instagram.com/placewaves/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="https://x.com/placewaves_com" target="_blank"><i class="fa-brands fa-x"></i></a></li>
</ul>