---
const {text, cliName} = Astro.props
---
<div class="testimonial5-boxarea">
    <div class="icons">
        <img src="assets/img/icons/quoto3.svg" alt="">
    </div>
    <div class="text-area">
        <p>{text}</p>
        <div class="space24"></div>
        <div class="name-area">
            <a href="#" class="nolink">{cliName}</a>
            <div class="space8"></div>
            <p>Client</p>
        </div>
    </div>
</div>